{% extends 'base.html' %}
{% block content %}
<br> <br>
<div class="container">
<div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8">
    <p>TeluguPower.in is the online Telugu news portal from the TeluguPower Media Group
we will bring you the latest ,breaking news about politics, business, crime, sports, science, entertainment and technology.
we are majorly providing services for the people in Andhra Pradesh ,Telangana and few parts of india and across the globe.

TeluguPower.in is an interactive website which gets you in-depth coverage and follow-up stories from a battery of veteran journalists
- on local, national and international events; on moments that make and mar history; on a smart, cool site designed for people on the
move and others across all ages and interests, with applications across platforms; on interactive, user-friendly mobile applications.

</p>
<br>
<h5><b>privacy policy :</b></h4>
<br5
<p>
    Telugupower.in is the online webnews content specific for Telugu news readers which is organizing by the Telugupower
we wish to inform, engage and entertain readers with a wide variety of content that is both timely and accurate.
Telugupower.in continues to build on its strong base of readers from the south of India while breaking new ground with readers in Andhra pradesh,
Telangana and some parts of india and the world.

</p>



    </div>

    <div class="col-sm-2">

    </div>
</div>

</div>


{% endblock %}