<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<style>

    h1{
        font-weight:1000;
    }

    body {
  background-color: skyblue;
}

   .Sameline {
    display: inline-block;
    padding:2px;
    margin-left:10px;
    }

     .Sameline1 {
    display: inline-block;
    border: 2px solid green;
    padding:2px;
    margin-left:80px;

    }

</style>

</head>

<body>


<h1 class="text-danger">తెలుగు పవర్</h1>
<br>

<h2> Login page </h2>

{% for message in messages %}

<p id="messages"> {{message}} </p>

{% endfor %}

<form method="POST">

<div class="container">

{% csrf_token %}

<input type="text" name="username" placeholder="username" >
<br>
<br>
<input type="password" name="password" placeholder="password" >
<br>
<br>
<a href="{% url 'social:begin' 'facebook' %}"><button type="button" name="button" class="btn btn-primary"> Login with Facebook </button></a>
<br>
<br>
<a href="{% url 'social:begin' 'google-oauth2' %}"><button type="button" name="button" class="btn btn-danger"> Login with Google   </button></a>
<br>
<br>
<script src='https://www.google.com/recaptcha/api.js'></script>
<div class="g-recaptcha" data-sitekey="6Lenb6MZAAAAACrCvaE98iq9bwbxnpvYTJrgH2ct"></div>

<br>
 <input type="submit" value="Login">

</div>

<div>Don't have an account? <a href="{% url 'signup' %}">Register</a> </div>
<br>
<div>Password forgot ? <a href="{% url 'reset_password' %}">Reset Password</a> </div>

</form>
</body>
</html>