<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<style>

    h1{
        font-weight:1000;
    }

    body {
  background-color: skyblue;
}

   .Sameline {
    display: inline-block;
    padding:2px;
    margin-left:10px;
    }

     .Sameline1 {
    display: inline-block;
    border: 2px solid green;
    padding:2px;
    margin-left:80px;

    }

</style>





</head>

<body>
<br>
<h1 class="text-danger">తెలుగు పవర్</h1>
<br>

<h2> Password reset is completed </h2>
<p> please login using below Login link </P>
<br>
<div><a href="{% url 'login' %}">Login</a> </div>

</body>
</html>